In [1]:
# 1.	Import the dataset using Pandas from above mentioned url.
import pandas as pd
import numpy as np

In [2]:

Url = 'https://raw.githubusercontent.com/SR1608/Datasets/main/covid-data.csv'
df=pd.read_csv(Url)
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31/12/19,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [3]:
#a.	Find no. of rows & columns in the dataset
df.shape

(57394, 49)

In [4]:
#b.	Data types of columns.
df.dtypes

iso_code                               object
continent                              object
location                               object
date                                   object
total_cases                           float64
new_cases                             float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
total_tests                           float64
new_tests                             float64
total_tests_per_thousand              float64
new_tests_per_thousand                float64
new_tests_smoothed                    float64
new_tests_smoothed_per_thousand       float64
tests_per_case                        float64
positive_rate                         float64
stringency_index                      float64
population                            float64
population_density                    float64
median_age                            float64
aged_65_older                         float64
aged_70_older                         float64
gdp_per_capita                        float64
extreme_poverty                       float64
cardiovasc_death_rate                 float64
diabetes_prevalence                   float64
female_smokers                        float64
male_smokers                          float64
handwashing_facilities                float64
hospital_beds_per_thousand            float64
life_expectancy                       float64
human_development_index               float64
dtype: object

In [5]:
#c.	Info & describe of data in dataframe.

df.describe(include = 'all')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,57071,56748,57394,57394,5.375800e+04,56465.000000,55652.000000,4.436800e+04,56465.000000,55652.000000,...,50367.000000,33571.000000,51013.000000,52881.000000,39669.000000,39156.000000,24176.000000,45936.000000,56336.000000,49247.000000
unique,215,6,216,323,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ITA,Europe,Italy,30/10/20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,323,14828,323,215,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.677974e+05,1953.576941,1920.431953,6.858639e+03,47.054317,46.835439,...,20620.172071,12.435453,252.646642,8.070269,10.741569,32.642686,52.089636,3.089724,73.937780,0.722223
std,NaN,NaN,NaN,NaN,1.693038e+06,18269.650340,17777.391785,5.578081e+04,390.853776,378.272794,...,20310.999832,19.427924,117.522344,4.189605,10.470743,13.453566,31.645306,2.513193,7.397016,0.153261
min,NaN,NaN,NaN,NaN,1.000000e+00,-8261.000000,-552.000000,1.000000e+00,-1918.000000,-232.143000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,NaN,NaN,NaN,NaN,1.800000e+02,0.000000,0.857000,1.300000e+01,0.000000,0.000000,...,5321.444000,0.500000,156.139000,5.310000,1.900000,21.400000,21.222000,1.300000,69.870000,0.601000
50%,NaN,NaN,NaN,NaN,2.070000e+03,14.000000,19.429000,8.400000e+01,0.000000,0.286000,...,13913.839000,2.000000,238.339000,7.110000,6.400000,31.400000,52.232000,2.500000,75.345000,0.752000
75%,NaN,NaN,NaN,NaN,2.235675e+04,235.000000,245.286000,7.270000e+02,4.000000,4.000000,...,31400.840000,18.100000,318.991000,10.390000,19.600000,40.900000,83.741000,4.200000,79.380000,0.847000
max,NaN,NaN,NaN,NaN,5.515465e+07,646281.000000,584981.857000,1.328537e+06,10600.000000,9027.714000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57394 entries, 0 to 57393
Data columns (total 49 columns):
iso_code                              57071 non-null object
continent                             56748 non-null object
location                              57394 non-null object
date                                  57394 non-null object
total_cases                           53758 non-null float64
new_cases                             56465 non-null float64
new_cases_smoothed                    55652 non-null float64
total_deaths                          44368 non-null float64
new_deaths                            56465 non-null float64
new_deaths_smoothed                   55652 non-null float64
total_cases_per_million               53471 non-null float64
new_cases_per_million                 56401 non-null float64
new_cases_smoothed_per_million        55587 non-null float64
total_deaths_per_million              44096 non-null float64
new_deaths_per_million                56401 non-null float64
new_deaths_smoothed_per_million       55587 non-null float64
reproduction_rate                     37696 non-null float64
icu_patients                          4490 non-null float64
icu_patients_per_million              4490 non-null float64
hosp_patients                         5005 non-null float64
hosp_patients_per_million             5005 non-null float64
weekly_icu_admissions                 357 non-null float64
weekly_icu_admissions_per_million     357 non-null float64
weekly_hosp_admissions                645 non-null float64
weekly_hosp_admissions_per_million    645 non-null float64
total_tests                           22017 non-null float64
new_tests                             21787 non-null float64
total_tests_per_thousand              22017 non-null float64
new_tests_per_thousand                21787 non-null float64
new_tests_smoothed                    24612 non-null float64
new_tests_smoothed_per_thousand       24612 non-null float64
tests_per_case                        22802 non-null float64
positive_rate                         23211 non-null float64
stringency_index                      47847 non-null float64
population                            57071 non-null float64
population_density                    54371 non-null float64
median_age                            51034 non-null float64
aged_65_older                         50265 non-null float64
aged_70_older                         50768 non-null float64
gdp_per_capita                        50367 non-null float64
extreme_poverty                       33571 non-null float64
cardiovasc_death_rate                 51013 non-null float64
diabetes_prevalence                   52881 non-null float64
female_smokers                        39669 non-null float64
male_smokers                          39156 non-null float64
handwashing_facilities                24176 non-null float64
hospital_beds_per_thousand            45936 non-null float64
life_expectancy                       56336 non-null float64
human_development_index               49247 non-null float64
dtypes: float64(45), object(4)
memory usage: 21.5+ MB

In [7]:
#a.	Find count of unique values in location column.
df['location'].value_counts()

Italy                              323
Czech Republic                     323
China                              323
Malaysia                           323
Dominican Republic                 323
Kuwait                             323
Israel                             323
Macedonia                          323
Ireland                            323
Greece                             323
Thailand                           323
Iceland                            323
Philippines                        323
Austria                            323
Monaco                             323
Romania                            323
South Korea                        323
Iraq                               323
Afghanistan                        323
Denmark                            323
Norway                             323
Finland                            323
Brazil                             323
Luxembourg                         323
Cambodia                           323
Taiwan                             323
United Kingdom                     323
Azerbaijan                         323
Japan                              323
India                              323
                                  ...
Grenada                            240
United States Virgin Islands       239
Belize                             239
Turks and Caicos Islands           238
Laos                               238
Saint Kitts and Nevis              237
Mali                               237
British Virgin Islands             236
Guinea-Bissau                      236
Anguilla                           236
Puerto Rico                        235
Malawi                             234
Northern Mariana Islands           232
Botswana                           231
Burundi                            231
Sierra Leone                       231
Bonaire Sint Eustatius and Saba    230
Falkland Islands                   228
South Sudan                        226
Sao Tome and Principe              223
Yemen                              222
Western Sahara                     206
Tajikistan                         201
Comoros                            200
Lesotho                            187
Hong Kong                           72
Solomon Islands                     33
Wallis and Futuna                   32
Marshall Islands                    20
Vanuatu                              7
Name: location, Length: 216, dtype: int64

In [8]:
#b.	Find which continent has maximum frequency using values counts.
df['continent'].value_counts()

Europe           14828
Africa           13637
Asia             13528
North America     9116
South America     3404
Oceania           2235
Name: continent, dtype: int64

In [9]:
#c.	Find maximum & mean value in 'total_cases'.
df['total_cases'].value_counts().mean()

2.371118560338744

In [10]:
df['total_cases'].value_counts().mean()

2.371118560338744

In [11]:
df.groupby(by = 'continent').gdp_per_capita.sum().sort_values().head(1)

continent
Oceania    2.972208e+07
Name: gdp_per_capita, dtype: float64

In [12]:
#.	Find which continent has maximum 'human_development_index'.
df.groupby('continent')['human_development_index'].max().head(1)

continent
Africa    0.797
Name: human_development_index, dtype: float64

In [13]:
df.groupby('continent')['gdp_per_capita'].min().head(1)

continent
Africa    661.24
Name: gdp_per_capita, dtype: float64

In [16]:
#4.	Filter the dataframe with only this columns ['continent','location','date','total_cases','total_deaths','gdp_per_ca
#pita','human_development_index'] and update the data frame.
new_dataframe=df.filter(items=['continent','location','date','total_cases','total_deaths','gdp_per_capita','human_development_index'])
new_dataframe

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index
0,Asia,Afghanistan,31/12/19,NaN,NaN,1803.987,0.498
1,Asia,Afghanistan,01/01/20,NaN,NaN,1803.987,0.498
2,Asia,Afghanistan,02/01/20,NaN,NaN,1803.987,0.498
3,Asia,Afghanistan,03/01/20,NaN,NaN,1803.987,0.498
4,Asia,Afghanistan,04/01/20,NaN,NaN,1803.987,0.498
5,Asia,Afghanistan,05/01/20,NaN,NaN,1803.987,0.498
6,Asia,Afghanistan,06/01/20,NaN,NaN,1803.987,0.498
7,Asia,Afghanistan,07/01/20,NaN,NaN,1803.987,0.498
8,Asia,Afghanistan,08/01/20,NaN,NaN,1803.987,0.498
9,Asia,Afghanistan,09/01/20,NaN,NaN,1803.987,0.498
10,Asia,Afghanistan,10/01/20,NaN,NaN,1803.987,0.498
11,Asia,Afghanistan,11/01/20,NaN,NaN,1803.987,0.498
12,Asia,Afghanistan,12/01/20,NaN,NaN,1803.987,0.498
13,Asia,Afghanistan,13/01/20,NaN,NaN,1803.987,0.498
14,Asia,Afghanistan,14/01/20,NaN,NaN,1803.987,0.498
15,Asia,Afghanistan,15/01/20,NaN,NaN,1803.987,0.498
16,Asia,Afghanistan,16/01/20,NaN,NaN,1803.987,0.498
17,Asia,Afghanistan,17/01/20,NaN,NaN,1803.987,0.498
18,Asia,Afghanistan,18/01/20,NaN,NaN,1803.987,0.498
19,Asia,Afghanistan,19/01/20,NaN,NaN,1803.987,0.498
20,Asia,Afghanistan,20/01/20,NaN,NaN,1803.987,0.498
21,Asia,Afghanistan,21/01/20,NaN,NaN,1803.987,0.498
22,Asia,Afghanistan,22/01/20,NaN,NaN,1803.987,0.498
23,Asia,Afghanistan,23/01/20,NaN,NaN,1803.987,0.498
24,Asia,Afghanistan,24/01/20,NaN,NaN,1803.987,0.498
25,Asia,Afghanistan,25/01/20,NaN,NaN,1803.987,0.498
26,Asia,Afghanistan,26/01/20,NaN,NaN,1803.987,0.498
27,Asia,Afghanistan,27/01/20,NaN,NaN,1803.987,0.498
28,Asia,Afghanistan,28/01/20,NaN,NaN,1803.987,0.498
29,Asia,Afghanistan,29/01/20,NaN,NaN,1803.987,0.498
...,...,...,...,...,...,...,...
57364,NaN,International,19/10/20,696.0,7.0,NaN,NaN
57365,NaN,International,20/10/20,696.0,7.0,NaN,NaN
57366,NaN,International,21/10/20,696.0,7.0,NaN,NaN
57367,NaN,International,22/10/20,696.0,7.0,NaN,NaN
57368,NaN,International,23/10/20,696.0,7.0,NaN,NaN
57369,NaN,International,24/10/20,696.0,7.0,NaN,NaN
57370,NaN,International,25/10/20,696.0,7.0,NaN,NaN
57371,NaN,International,26/10/20,696.0,7.0,NaN,NaN
57372,NaN,International,27/10/20,696.0,7.0,NaN,NaN
57373,NaN,International,28/10/20,696.0,7.0,NaN,NaN
57374,NaN,International,29/10/20,696.0,7.0,NaN,NaN
57375,NaN,International,30/10/20,696.0,7.0,NaN,NaN
57376,NaN,International,31/10/20,696.0,7.0,NaN,NaN
57377,NaN,International,01/11/20,696.0,7.0,NaN,NaN
57378,NaN,International,02/11/20,696.0,7.0,NaN,NaN
57379,NaN,International,03/11/20,696.0,7.0,NaN,NaN
57380,NaN,International,04/11/20,696.0,7.0,NaN,NaN
57381,NaN,International,05/11/20,696.0,7.0,NaN,NaN
57382,NaN,International,06/11/20,696.0,7.0,NaN,NaN
57383,NaN,International,07/11/20,696.0,7.0,NaN,NaN
57384,NaN,International,08/11/20,696.0,7.0,NaN,NaN
57385,NaN,International,09/11/20,696.0,7.0,NaN,NaN
57386,NaN,International,10/11/20,696.0,7.0,NaN,NaN
57387,NaN,International,11/11/20,696.0,7.0,NaN,NaN
57388,NaN,International,12/11/20,696.0,7.0,NaN,NaN
57389,NaN,International,13/11/20,696.0,7.0,NaN,NaN
57390,NaN,International,14/11/20,696.0,7.0,NaN,NaN
57391,NaN,International,15/11/20,696.0,7.0,NaN,NaN
57392,NaN,International,16/11/20,696.0,7.0,NaN,NaN
57393,NaN,International,17/11/20,696.0,7.0,NaN,NaN

In [17]:
#a.	Remove all duplicates observations
new_dataframe.drop_duplicates(inplace = True)
new_dataframe

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index
0,Asia,Afghanistan,31/12/19,NaN,NaN,1803.987,0.498
1,Asia,Afghanistan,01/01/20,NaN,NaN,1803.987,0.498
2,Asia,Afghanistan,02/01/20,NaN,NaN,1803.987,0.498
3,Asia,Afghanistan,03/01/20,NaN,NaN,1803.987,0.498
4,Asia,Afghanistan,04/01/20,NaN,NaN,1803.987,0.498
5,Asia,Afghanistan,05/01/20,NaN,NaN,1803.987,0.498
6,Asia,Afghanistan,06/01/20,NaN,NaN,1803.987,0.498
7,Asia,Afghanistan,07/01/20,NaN,NaN,1803.987,0.498
8,Asia,Afghanistan,08/01/20,NaN,NaN,1803.987,0.498
9,Asia,Afghanistan,09/01/20,NaN,NaN,1803.987,0.498
10,Asia,Afghanistan,10/01/20,NaN,NaN,1803.987,0.498
11,Asia,Afghanistan,11/01/20,NaN,NaN,1803.987,0.498
12,Asia,Afghanistan,12/01/20,NaN,NaN,1803.987,0.498
13,Asia,Afghanistan,13/01/20,NaN,NaN,1803.987,0.498
14,Asia,Afghanistan,14/01/20,NaN,NaN,1803.987,0.498
15,Asia,Afghanistan,15/01/20,NaN,NaN,1803.987,0.498
16,Asia,Afghanistan,16/01/20,NaN,NaN,1803.987,0.498
17,Asia,Afghanistan,17/01/20,NaN,NaN,1803.987,0.498
18,Asia,Afghanistan,18/01/20,NaN,NaN,1803.987,0.498
19,Asia,Afghanistan,19/01/20,NaN,NaN,1803.987,0.498
20,Asia,Afghanistan,20/01/20,NaN,NaN,1803.987,0.498
21,Asia,Afghanistan,21/01/20,NaN,NaN,1803.987,0.498
22,Asia,Afghanistan,22/01/20,NaN,NaN,1803.987,0.498
23,Asia,Afghanistan,23/01/20,NaN,NaN,1803.987,0.498
24,Asia,Afghanistan,24/01/20,NaN,NaN,1803.987,0.498
25,Asia,Afghanistan,25/01/20,NaN,NaN,1803.987,0.498
26,Asia,Afghanistan,26/01/20,NaN,NaN,1803.987,0.498
27,Asia,Afghanistan,27/01/20,NaN,NaN,1803.987,0.498
28,Asia,Afghanistan,28/01/20,NaN,NaN,1803.987,0.498
29,Asia,Afghanistan,29/01/20,NaN,NaN,1803.987,0.498
...,...,...,...,...,...,...,...
57364,NaN,International,19/10/20,696.0,7.0,NaN,NaN
57365,NaN,International,20/10/20,696.0,7.0,NaN,NaN
57366,NaN,International,21/10/20,696.0,7.0,NaN,NaN
57367,NaN,International,22/10/20,696.0,7.0,NaN,NaN
57368,NaN,International,23/10/20,696.0,7.0,NaN,NaN
57369,NaN,International,24/10/20,696.0,7.0,NaN,NaN
57370,NaN,International,25/10/20,696.0,7.0,NaN,NaN
57371,NaN,International,26/10/20,696.0,7.0,NaN,NaN
57372,NaN,International,27/10/20,696.0,7.0,NaN,NaN
57373,NaN,International,28/10/20,696.0,7.0,NaN,NaN
57374,NaN,International,29/10/20,696.0,7.0,NaN,NaN
57375,NaN,International,30/10/20,696.0,7.0,NaN,NaN
57376,NaN,International,31/10/20,696.0,7.0,NaN,NaN
57377,NaN,International,01/11/20,696.0,7.0,NaN,NaN
57378,NaN,International,02/11/20,696.0,7.0,NaN,NaN
57379,NaN,International,03/11/20,696.0,7.0,NaN,NaN
57380,NaN,International,04/11/20,696.0,7.0,NaN,NaN
57381,NaN,International,05/11/20,696.0,7.0,NaN,NaN
57382,NaN,International,06/11/20,696.0,7.0,NaN,NaN
57383,NaN,International,07/11/20,696.0,7.0,NaN,NaN
57384,NaN,International,08/11/20,696.0,7.0,NaN,NaN
57385,NaN,International,09/11/20,696.0,7.0,NaN,NaN
57386,NaN,International,10/11/20,696.0,7.0,NaN,NaN
57387,NaN,International,11/11/20,696.0,7.0,NaN,NaN
57388,NaN,International,12/11/20,696.0,7.0,NaN,NaN
57389,NaN,International,13/11/20,696.0,7.0,NaN,NaN
57390,NaN,International,14/11/20,696.0,7.0,NaN,NaN
57391,NaN,International,15/11/20,696.0,7.0,NaN,NaN
57392,NaN,International,16/11/20,696.0,7.0,NaN,NaN
57393,NaN,International,17/11/20,696.0,7.0,NaN,NaN

In [18]:
#b.	Find missing values in all columns
new_dataframe.isnull()

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index
0,False,False,False,True,True,False,False
1,False,False,False,True,True,False,False
2,False,False,False,True,True,False,False
3,False,False,False,True,True,False,False
4,False,False,False,True,True,False,False
5,False,False,False,True,True,False,False
6,False,False,False,True,True,False,False
7,False,False,False,True,True,False,False
8,False,False,False,True,True,False,False
9,False,False,False,True,True,False,False
10,False,False,False,True,True,False,False
11,False,False,False,True,True,False,False
12,False,False,False,True,True,False,False
13,False,False,False,True,True,False,False
14,False,False,False,True,True,False,False
15,False,False,False,True,True,False,False
16,False,False,False,True,True,False,False
17,False,False,False,True,True,False,False
18,False,False,False,True,True,False,False
19,False,False,False,True,True,False,False
20,False,False,False,True,True,False,False
21,False,False,False,True,True,False,False
22,False,False,False,True,True,False,False
23,False,False,False,True,True,False,False
24,False,False,False,True,True,False,False
25,False,False,False,True,True,False,False
26,False,False,False,True,True,False,False
27,False,False,False,True,True,False,False
28,False,False,False,True,True,False,False
29,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...
57364,True,False,False,False,False,True,True
57365,True,False,False,False,False,True,True
57366,True,False,False,False,False,True,True
57367,True,False,False,False,False,True,True
57368,True,False,False,False,False,True,True
57369,True,False,False,False,False,True,True
57370,True,False,False,False,False,True,True
57371,True,False,False,False,False,True,True
57372,True,False,False,False,False,True,True
57373,True,False,False,False,False,True,True
57374,True,False,False,False,False,True,True
57375,True,False,False,False,False,True,True
57376,True,False,False,False,False,True,True
57377,True,False,False,False,False,True,True
57378,True,False,False,False,False,True,True
57379,True,False,False,False,False,True,True
57380,True,False,False,False,False,True,True
57381,True,False,False,False,False,True,True
57382,True,False,False,False,False,True,True
57383,True,False,False,False,False,True,True
57384,True,False,False,False,False,True,True
57385,True,False,False,False,False,True,True
57386,True,False,False,False,False,True,True
57387,True,False,False,False,False,True,True
57388,True,False,False,False,False,True,True
57389,True,False,False,False,False,True,True
57390,True,False,False,False,False,True,True
57391,True,False,False,False,False,True,True
57392,True,False,False,False,False,True,True
57393,True,False,False,False,False,True,True

In [19]:
#c.	Remove all observations where continent column value is missing
new_dataframe.dropna(axis = 1)

            location      date
0        Afghanistan  31/12/19
1        Afghanistan  01/01/20
2        Afghanistan  02/01/20
3        Afghanistan  03/01/20
4        Afghanistan  04/01/20
5        Afghanistan  05/01/20
6        Afghanistan  06/01/20
7        Afghanistan  07/01/20
8        Afghanistan  08/01/20
9        Afghanistan  09/01/20
10       Afghanistan  10/01/20
11       Afghanistan  11/01/20
12       Afghanistan  12/01/20
13       Afghanistan  13/01/20
14       Afghanistan  14/01/20
15       Afghanistan  15/01/20
16       Afghanistan  16/01/20
17       Afghanistan  17/01/20
18       Afghanistan  18/01/20
19       Afghanistan  19/01/20
20       Afghanistan  20/01/20
21       Afghanistan  21/01/20
22       Afghanistan  22/01/20
23       Afghanistan  23/01/20
24       Afghanistan  24/01/20
25       Afghanistan  25/01/20
26       Afghanistan  26/01/20
27       Afghanistan  27/01/20
28       Afghanistan  28/01/20
29       Afghanistan  29/01/20
...              ...       ...
57364  International  19/10/20
57365  International  20/10/20
57366  International  21/10/20
57367  International  22/10/20
57368  International  23/10/20
57369  International  24/10/20
57370  International  25/10/20
57371  International  26/10/20
57372  International  27/10/20
57373  International  28/10/20
57374  International  29/10/20
57375  International  30/10/20
57376  International  31/10/20
57377  International  01/11/20
57378  International  02/11/20
57379  International  03/11/20
57380  International  04/11/20
57381  International  05/11/20
57382  International  06/11/20
57383  International  07/11/20
57384  International  08/11/20
57385  International  09/11/20
57386  International  10/11/20
57387  International  11/11/20
57388  International  12/11/20
57389  International  13/11/20
57390  International  14/11/20
57391  International  15/11/20
57392  International  16/11/20
57393  International  17/11/20

[57394 rows x 2 columns]

In [25]:
#d.	Fill all missing values with 0
new_dataframe.fillna(0).head(5)

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index,month
0,Asia,Afghanistan,2019-12-31,0.0,0.0,1803.987,0.498,12
1,Asia,Afghanistan,2020-01-01,0.0,0.0,1803.987,0.498,1
2,Asia,Afghanistan,2020-02-01,0.0,0.0,1803.987,0.498,2
3,Asia,Afghanistan,2020-03-01,0.0,0.0,1803.987,0.498,3
4,Asia,Afghanistan,2020-04-01,0.0,0.0,1803.987,0.498,4

In [24]:
#a.	Convert date column in datetime format using pandas.to_datetime
new_dataframe['date'] = pd.to_datetime(df['date'])
new_dataframe

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index,month
0,Asia,Afghanistan,2019-12-31,NaN,NaN,1803.987,0.498,12
1,Asia,Afghanistan,2020-01-01,NaN,NaN,1803.987,0.498,1
2,Asia,Afghanistan,2020-02-01,NaN,NaN,1803.987,0.498,2
3,Asia,Afghanistan,2020-03-01,NaN,NaN,1803.987,0.498,3
4,Asia,Afghanistan,2020-04-01,NaN,NaN,1803.987,0.498,4
5,Asia,Afghanistan,2020-05-01,NaN,NaN,1803.987,0.498,5
6,Asia,Afghanistan,2020-06-01,NaN,NaN,1803.987,0.498,6
7,Asia,Afghanistan,2020-07-01,NaN,NaN,1803.987,0.498,7
8,Asia,Afghanistan,2020-08-01,NaN,NaN,1803.987,0.498,8
9,Asia,Afghanistan,2020-09-01,NaN,NaN,1803.987,0.498,9
10,Asia,Afghanistan,2020-10-01,NaN,NaN,1803.987,0.498,10
11,Asia,Afghanistan,2020-11-01,NaN,NaN,1803.987,0.498,11
12,Asia,Afghanistan,2020-12-01,NaN,NaN,1803.987,0.498,12
13,Asia,Afghanistan,2020-01-13,NaN,NaN,1803.987,0.498,1
14,Asia,Afghanistan,2020-01-14,NaN,NaN,1803.987,0.498,1
15,Asia,Afghanistan,2020-01-15,NaN,NaN,1803.987,0.498,1
16,Asia,Afghanistan,2020-01-16,NaN,NaN,1803.987,0.498,1
17,Asia,Afghanistan,2020-01-17,NaN,NaN,1803.987,0.498,1
18,Asia,Afghanistan,2020-01-18,NaN,NaN,1803.987,0.498,1
19,Asia,Afghanistan,2020-01-19,NaN,NaN,1803.987,0.498,1
20,Asia,Afghanistan,2020-01-20,NaN,NaN,1803.987,0.498,1
21,Asia,Afghanistan,2020-01-21,NaN,NaN,1803.987,0.498,1
22,Asia,Afghanistan,2020-01-22,NaN,NaN,1803.987,0.498,1
23,Asia,Afghanistan,2020-01-23,NaN,NaN,1803.987,0.498,1
24,Asia,Afghanistan,2020-01-24,NaN,NaN,1803.987,0.498,1
25,Asia,Afghanistan,2020-01-25,NaN,NaN,1803.987,0.498,1
26,Asia,Afghanistan,2020-01-26,NaN,NaN,1803.987,0.498,1
27,Asia,Afghanistan,2020-01-27,NaN,NaN,1803.987,0.498,1
28,Asia,Afghanistan,2020-01-28,NaN,NaN,1803.987,0.498,1
29,Asia,Afghanistan,2020-01-29,NaN,NaN,1803.987,0.498,1
...,...,...,...,...,...,...,...,...
57364,NaN,International,2020-10-19,696.0,7.0,NaN,NaN,10
57365,NaN,International,2020-10-20,696.0,7.0,NaN,NaN,10
57366,NaN,International,2020-10-21,696.0,7.0,NaN,NaN,10
57367,NaN,International,2020-10-22,696.0,7.0,NaN,NaN,10
57368,NaN,International,2020-10-23,696.0,7.0,NaN,NaN,10
57369,NaN,International,2020-10-24,696.0,7.0,NaN,NaN,10
57370,NaN,International,2020-10-25,696.0,7.0,NaN,NaN,10
57371,NaN,International,2020-10-26,696.0,7.0,NaN,NaN,10
57372,NaN,International,2020-10-27,696.0,7.0,NaN,NaN,10
57373,NaN,International,2020-10-28,696.0,7.0,NaN,NaN,10
57374,NaN,International,2020-10-29,696.0,7.0,NaN,NaN,10
57375,NaN,International,2020-10-30,696.0,7.0,NaN,NaN,10
57376,NaN,International,2020-10-31,696.0,7.0,NaN,NaN,10
57377,NaN,International,2020-01-11,696.0,7.0,NaN,NaN,1
57378,NaN,International,2020-02-11,696.0,7.0,NaN,NaN,2
57379,NaN,International,2020-03-11,696.0,7.0,NaN,NaN,3
57380,NaN,International,2020-04-11,696.0,7.0,NaN,NaN,4
57381,NaN,International,2020-05-11,696.0,7.0,NaN,NaN,5
57382,NaN,International,2020-06-11,696.0,7.0,NaN,NaN,6
57383,NaN,International,2020-07-11,696.0,7.0,NaN,NaN,7
57384,NaN,International,2020-08-11,696.0,7.0,NaN,NaN,8
57385,NaN,International,2020-09-11,696.0,7.0,NaN,NaN,9
57386,NaN,International,2020-10-11,696.0,7.0,NaN,NaN,10
57387,NaN,International,2020-11-11,696.0,7.0,NaN,NaN,11
57388,NaN,International,2020-12-11,696.0,7.0,NaN,NaN,12
57389,NaN,International,2020-11-13,696.0,7.0,NaN,NaN,11
57390,NaN,International,2020-11-14,696.0,7.0,NaN,NaN,11
57391,NaN,International,2020-11-15,696.0,7.0,NaN,NaN,11
57392,NaN,International,2020-11-16,696.0,7.0,NaN,NaN,11
57393,NaN,International,2020-11-17,696.0,7.0,NaN,NaN,11

In [26]:
#b.	Create new column month after extracting month data from column date.
new_dataframe['month'] = pd.DatetimeIndex(df['date']).month
new_dataframe.head()

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index,month
0,Asia,Afghanistan,2019-12-31,NaN,NaN,1803.987,0.498,12
1,Asia,Afghanistan,2020-01-01,NaN,NaN,1803.987,0.498,1
2,Asia,Afghanistan,2020-02-01,NaN,NaN,1803.987,0.498,2
3,Asia,Afghanistan,2020-03-01,NaN,NaN,1803.987,0.498,3
4,Asia,Afghanistan,2020-04-01,NaN,NaN,1803.987,0.498,4

In [27]:
#a.	Find max value in all columns using groupby function on 'continent colum Tip: use reset_index() after applying groupby

df_grouped = new_dataframe.groupby(['continent']).max()
df_grouped

,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index,month
continent,,,,,,,
Africa,Zimbabwe,2020-12-11,752269.0,20314.0,26382.287,0.797,12
Asia,Yemen,2020-12-11,8874290.0,130519.0,116935.600,0.933,12
Europe,Vatican,2020-12-11,1991233.0,52147.0,94277.965,0.953,12
North America,United States Virgin Islands,2020-12-11,11205486.0,247220.0,54225.446,0.926,12
Oceania,Wallis and Futuna,2020-12-11,27750.0,907.0,44648.710,0.939,12
South America,Venezuela,2020-12-11,5876464.0,166014.0,22767.037,0.843,12

In [33]:
#b.	Store the result in a new dataframe named 'df_groupby'. (Use df_groupby dataframe for all further analysis)
df_groupby==df_grouped  
df_groupby

,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index,month,ratio
continent,,,,,,,,
Africa,Zimbabwe,2020-12-11,752269.0,20314.0,26382.287,0.797,12,0.027004
Asia,Yemen,2020-12-11,8874290.0,130519.0,116935.600,0.933,12,0.014708
Europe,Vatican,2020-12-11,1991233.0,52147.0,94277.965,0.953,12,0.026188
North America,United States Virgin Islands,2020-12-11,11205486.0,247220.0,54225.446,0.926,12,0.022062
Oceania,Wallis and Futuna,2020-12-11,27750.0,907.0,44648.710,0.939,12,0.032685
South America,Venezuela,2020-12-11,5876464.0,166014.0,22767.037,0.843,12,0.028251

In [34]:
#a.	Create a new feature 'total_deaths_to_total_cases' by ratio of 'total_deaths' column to 'total_cases'
df_groupby['ratio'] = df_groupby['total_deaths'] / df_groupby['total_cases'] 
df_groupby['ratio']

continent
Africa           0.027004
Asia             0.014708
Europe           0.026188
North America    0.022062
Oceania          0.032685
South America    0.028251
Name: ratio, dtype: float64

In [38]:
#a.	Perform Univariate analysis on 'gdp_per_capita' column by plotting
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [39]:
plt.scatter(df_groupby.index, df_groupby('gdp_per_capita'))
plt.show()

TypeError: 'DataFrame' object is not callable

In [40]:
#b.	Plot a scatter plot of 'total_cases' & 'gdp_per_capita'
sns.scatterplot(data =df_groupby, x = "total_cases", y = "gdp_per_capita")

plt.show()

AttributeError: module 'seaborn' has no attribute 'scatterplot'